.DS_Store
tmp*
.netrwhist
.swp
fish/fishd.*
config/zed/*
!config/zed/settings.json
config/nvtop/*
config/nvim/lazy/
config/nvim/mason/
config/nvim/dirsession/
config/nvim/session/
config/nvim/*.log
config/nvim/telescope_history
config/nvim/tree-sitter-*-tmp/
config/nvim/tree-sitter-*.tar.gz
.claude/*
